<!-- <mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar> -->
<h1>Fermin Vazquez</h1>
<h3>Trabajo Final</h3>
<mat-list role="list">
  <mat-divider></mat-divider>
  <mat-list-item role="listitem">
    <a routerLink="students">Estudiantes</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item role="listitem">
    <a routerLink="cursos">Cursos</a>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item role="listitem">
    <a routerLink="usuarios">Usuarios</a>
  </mat-list-item>

  <mat-divider></mat-divider>
  <mat-list-item role="listitem">
    <a routerLink="products">Mock de Productos</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item
    ><a
      href="https://github.com/riidoriido/tpFinal-Angular-2da-Entrega-Fermin-Vazquez"
      >Repositorio de GitHub</a
    ></mat-list-item
  >
</mat-list>
<br /><br /><br />
<small>2023 Angular Coderhouse.</small>
